@font-face {
    font-family: 'Lato';
    src: url('../fonts/latobold-webfont.woff2') format('woff2'),
    url('../fonts/latobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/latobolditalic-webfont.woff2') format('woff2'),
    url('../fonts/latobolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/latoitalic-webfont.woff2') format('woff2'),
    url('../fonts/latoitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/latoregular-webfont.woff2') format('woff2'),
    url('../fonts/latoregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
