@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t1ax1y');
  src:  url('../fonts/icomoon.eot?t1ax1y#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?t1ax1y') format('truetype'),
  url('../fonts/icomoon.woff?t1ax1y') format('woff'),
  url('../fonts/icomoon.svg?t1ax1y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-mail:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e971";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:after {
  content: "\e978";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eaca";
}
